<div class="flex flex-col items-center justify-center h-screen bg-secondary relative">
  <!-- Logo com posição absoluta e animação -->
  <img class="w-40 absolute top-1 animate-bounceLogo" src="../assets/images/logo_transparent.png" alt="logo">
  
  <!-- Título "Cadastre-se no ..." -->
  <h2 class="text-3xl font-semibold text-center text-slate-50 mt-12">
    Cadastre-se no ...
  </h2>

  <!-- Contêiner de cadastro mais estreito -->
  <div class="w-full max-w-sm p-8 bg-background rounded-lg shadow-lg mt-4">
    <!-- Formulário de Cadastro -->
    <form class="space-y-4">
      <!-- Nome do Usuário -->
      <div>
        <label for="username" class="block text-sm font-medium text-gray-400">Nome de Usuário</label>
        <input
          type="text"
          id="username"
          name="username"
          class="mt-1 block w-full px-4 py-2 text-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Digite seu nome de usuário"
          required
        />
      </div>

      <!-- E-mail -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-400">E-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          class="mt-1 block w-full px-4 py-2 text-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Digite seu e-mail"
          required
        />
      </div>

      <!-- Senha -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-400">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          class="mt-1 block w-full px-4 py-2 text-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Digite sua senha"
          required
        />
      </div>

      <!-- Botão de Cadastro -->
      <div>
        <button
          type="submit"
          class="active:scale-[.98] active:duration-75 hover:scale-[1.01] ease-in-out transition-all w-full py-2 px-4 bg-primary text-white font-semibold rounded-xl shadow-lg"
        >
          Cadastre-se
        </button>
      </div>
    </form>

    <!-- Botão de Login com Google -->
    <div class="mt-3 text-center">
      <button class="flex items-center justify-center text-white gap-2 text-sm w-full py-2 px-4 rounded-xl">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.26644 9.76453C6.19903 6.93863 8.85469 4.90909 12.0002 4.90909C13.6912 4.90909 15.2184 5.50909 16.4184 6.49091L19.9093 3C17.7821 1.14545 15.0548 0 12.0002 0C7.27031 0 3.19799 2.6983 1.24023 6.65002L5.26644 9.76453Z" fill="#EA4335"/>
          <path d="M16.0406 18.0142C14.9508 18.718 13.5659 19.0926 11.9998 19.0926C8.86633 19.0926 6.21896 17.0785 5.27682 14.2695L1.2373 17.3366C3.19263 21.2953 7.26484 24.0017 11.9998 24.0017C14.9327 24.0017 17.7352 22.959 19.834 21.0012L16.0406 18.0142Z" fill="#34A853"/>
          <path d="M19.8342 20.9978C22.0292 18.9503 23.4545 15.9019 23.4545 11.9982C23.4545 11.2891 23.3455 10.5255 23.1818 9.81641H12V14.4528H18.4364C18.1188 16.0119 17.2663 17.2194 16.0407 18.0108L19.8342 20.9978Z" fill="#4A90E2"/>
          <path d="M5.27698 14.2663C5.03833 13.5547 4.90909 12.7922 4.90909 11.9984C4.90909 11.2167 5.03444 10.4652 5.2662 9.76294L1.23999 6.64844C0.436587 8.25884 0 10.0738 0 11.9984C0 13.918 0.444781 15.7286 1.23746 17.3334L5.27698 14.2663Z" fill="#FBBC05"/>
        </svg>
        Entre com o Google
      </button>
    </div>

    <!-- Link para login -->
    <div class="mt-3 text-center">
      <p class="text-sm text-gray-200">Já tem uma conta? <a href="#" class="text-indigo-600 hover:text-indigo-700">Faça login</a></p>
    </div>
  </div>
</div>
  