 <div class="bg-secondary h-screen w-screen flex flex-col items-center justify-center">
      <h1 class="text-white mb-3 text-base font-bold">PREPARE-SE PARA O VESTIBULAR</h1>
      <div class=" bg-indigo-950 p-4 px-40 flex items-center justify-center gap-3 rounded-xl">
        <div class="flex items-center text-slate-50">
          <select
            class=" bg-indigo-950 text-slate-50 font-semibold appearance-none p-2 border border-gray-300 rounded-md shadow-sm outline-none border-none"
            name="assunto"
            id=""
          >
            <option value="MATÉRIA" disabled>
              Matéria
            </option>
            <option value="Biologia">Biologia</option>
            <option value="Matemática">Matemática</option>
            <option value="Física">Física</option>
            <option value="Química">Química</option>
          </select>
          <span>
           <fa-icon [icon]="faBook"></fa-icon>
          </span>
        </div>

        <div class="flex items-center text-slate-50">
          <select
            class=" bg-indigo-950 text-slate-50 font-bold appearance-none p-2 border border-gray-300 rounded-md shadow-sm outline-none border-none"
            name="assunto"
            id=""
          >
            <option value="assunto" disabled>
              ASSUNTO
            </option>
            <option value="Biologia">Biologia</option>
            <option value="Matemática">Matemática</option>
            <option value="Física">Física</option>
            <option value="Química">Química</option>
          </select>
          <span>
             <fa-icon [icon]="faBars"></fa-icon>
          </span>
        </div>

        <button class="bg-primary px-4 py-1 text-slate-50 font-bold rounded-md flex items-center justify-center gap-2">
          ESTUDAR
          <span>
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </span>
        </button>
      </div>
    </div>