<div class="bg-secondary h-screen w-screen flex items-center justify-center">
        
        <!-- Matéria Dropdown -->
        <div class="flex items-center text-slate-50">
          <select
            class="bg-indigo-950 text-slate-50 font-bold p-3 border border-gray-300 rounded-md shadow-sm outline-none"
            name="assunto"
            id=""
          >
            <option value="MATÉRIA" disabled>
              Matéria
            </option>
            <option value="Biologia">Biologia</option>
            <option value="Matemática">Matemática</option>
            <option value="Física">Física</option>
            <option value="Química">Química</option>
          </select>
        </div>
  
        <!-- Assunto Dropdown -->
        <div class="flex items-center text-slate-50">
          <select
            class="bg-indigo-950 text-slate-50 font-bold p-3 border border-gray-300 rounded-md shadow-sm outline-none"
            name="assunto"
            id=""
          >
            <option value="assunto" disabled>
              Assunto
            </option>
            <option value="Biologia">Biologia</option>
            <option value="Matemática">Matemática</option>
            <option value="Física">Física</option>
            <option value="Química">Química</option>
          </select>
        </div>
  
        <!-- Estudar Button -->
        <button class="bg-primary px-6 py-2 text-slate-50 font-bold rounded-md flex items-center justify-center gap-2">
          ESTUDAR
        </button>
</div>